<p id="notice"><%= notice %></p>

<p>
  <strong>Date & Time: </strong>
  <%= @appointment.appointment_datetime.strftime("%B %d, %Y. %H:%M") %>
</p>

<p>
  <strong>Patient:</strong>
  <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
</p>

